<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/index.css">
    <title>Example App</title>
</head>

<body>
    <div class="header">
        <a text="logo" aria-label="Gå till huvudsidan" href="/" class="logo">
            <svg viewBox="-15 0 512 512.00009" width="25" height="25" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <linearGradient id="a">
                    <stop offset="0" stop-color="#f2e9dc" />
                    <stop offset=".2282" stop-color="#f0e4d7" />
                    <stop offset=".5158" stop-color="#ead7c7" />
                    <stop offset=".8338" stop-color="#e0c2ad" />
                    <stop offset="1" stop-color="#dab49d" />
                </linearGradient>
                <linearGradient id="b" gradientUnits="userSpaceOnUse" x1="220.7896784928" x2="414.6263358996"
                    xlink:href="#a" y1="353.518143314" y2="353.518143314" />
                <linearGradient id="c">
                    <stop offset="0" stop-color="#dab49d" stop-opacity="0" />
                    <stop offset=".2054" stop-color="#d8b198" stop-opacity=".203922" />
                    <stop offset=".4642" stop-color="#d3a788" stop-opacity=".462745" />
                    <stop offset=".7504" stop-color="#ca976e" stop-opacity=".74902" />
                    <stop offset="1" stop-color="#c08552" />
                </linearGradient>
                <linearGradient id="d" gradientUnits="userSpaceOnUse" x1="388.7548643908" x2="246.0583952328"
                    xlink:href="#c" y1="337.28773634" y2="207.2917840118" />
                <linearGradient id="e">
                    <stop offset="0" stop-color="#ff4b3e" />
                    <stop offset=".4462" stop-color="#fd4a3d" />
                    <stop offset=".6069" stop-color="#f64939" />
                    <stop offset=".7215" stop-color="#eb4533" />
                    <stop offset=".8141" stop-color="#da412a" />
                    <stop offset=".8935" stop-color="#c43a1f" />
                    <stop offset=".9625" stop-color="#a93311" />
                    <stop offset="1" stop-color="#972e07" />
                </linearGradient>
                <radialGradient id="f" cx="136.5599199474" cy="-131.1559221992" gradientUnits="userSpaceOnUse"
                    r="407.3648432748" xlink:href="#e" />
                <linearGradient id="g" gradientUnits="userSpaceOnUse" x1="286.8843892458" x2="424.9379199382"
                    xlink:href="#c" y1="380.003111557" y2="474.957066083" />
                <linearGradient id="h" gradientUnits="userSpaceOnUse" x1="124.6579226764" x2="151.9627940168"
                    xlink:href="#a" y1="423.1178469456" y2="412.9196057008" />
                <linearGradient id="i" gradientUnits="userSpaceOnUse" x1="170.7571173866" x2="104.5872128758"
                    xlink:href="#c" y1="419.2195174274" y2="376.102372626" />
                <radialGradient id="j" cx="-929.7522" cy="472.4151"
                    gradientTransform="matrix(-.915275 .412511 .412511 .915275 -948.74572 216.512915)"
                    gradientUnits="userSpaceOnUse" r="126.2445" xlink:href="#e" />
                <linearGradient id="k" gradientUnits="userSpaceOnUse" x1="264.1022869076" x2="280.8222062488"
                    y1="447.3116644002" y2="559.892882971">
                    <stop offset="0" stop-color="#c08552" />
                    <stop offset="1" stop-color="#895738" />
                </linearGradient>
                <linearGradient id="l" gradientUnits="userSpaceOnUse" x1="80.745671651" x2="112.180979276"
                    xlink:href="#a" y1="167.6976022928" y2="189.6069952364" />
                <linearGradient id="m" gradientUnits="userSpaceOnUse" x1="341.9609556566" x2="354.377663737"
                    xlink:href="#a" y1="212.034411932" y2="248.6311837356" />
                <linearGradient id="n" gradientUnits="userSpaceOnUse" x1="150.76872919" x2="159.3419218934"
                    xlink:href="#a" y1="203.2136520634" y2="257.5108738256" />
                <path
                    d="m222.164062 213.523438s48.941407 68.289062 30.730469 160.484374c-18.210937 92.191407-37.5625 121.785157 45.527344 133.167969 83.085937 11.382813 124.0625-2.277343 114.957031-92.195312-9.105468-89.914063-67.152344-202.597657-89.917968-212.839844-22.761719-10.242187-114.957032-6.828125-101.296876 11.382813zm0 0"
                    fill="url(#b)" />
                <path
                    d="m413.378906 414.980469c-9.105468-89.917969-67.152344-202.597657-89.917968-212.839844-22.761719-10.246094-114.957032-6.832031-101.296876 11.378906 0 0 15.726563 21.957031 26.03125 57.769531l166.425782 166.421876c-.003906-6.96875-.414063-14.527344-1.242188-22.730469zm0 0"
                    fill="url(#d)" />
                <path
                    d="m413.402344 223.027344c-20.75 9.953125-46.839844 19.359375-79.136719 27.898437-15.105469 4.003907-29.746094 7.597657-43.90625 10.808594-219.800781 49.941406-324.445313 7.496094-280.503906-79.210937 1.402343-2.769532 8.984375-7.589844 10.683593-10.441407 18.4375-30.871093 32.167969-54.777343 50.582032-75.777343 40.09375-45.75 73.828125-68.269532 73.828125-68.269532 32.824219-27.074218 76.371093-33.210937 130.171875-24.082031 26.164062 4.433594 54.757812 17.503906 85.726562 28.5 6.972656 2.480469 14.160156.410156 21.40625 3.796875 78.742188 36.695312 163.453125 123.273438 31.148438 186.777344zm0 0"
                    fill="url(#f)" />
                <path
                    d="m279.667969 250.792969c-12.210938 0-23.871094 3.777343-34.550781 10.625 9.582031 28.433593 16.648437 67.671875 7.777343 112.589843-18.210937 92.191407-37.5625 121.785157 45.527344 133.167969.15625.019531.3125.042969.46875.0625 27.980469 3.808594 54.542969-13.152343 63.253906-40.015625 6.617188-20.394531 10.351563-43.558594 10.351563-68.117187 0-81.910157-41.5625-148.3125-92.828125-148.3125zm0 0"
                    fill="url(#g)" />
                <path
                    d="m143.601562 367.785156s-5.148437 25.613282 11.796876 49.421875c16.941406 23.808594 26.207031 29.722657 4.109374 43.566407-22.101562 13.84375-35.460937 15.207031-44.371093-11.445313-8.90625-26.652344-6.851563-66.015625-1.707031-71.828125 5.144531-5.8125 31.71875-16.625 30.171874-9.714844zm0 0"
                    fill="url(#h)" />
                <path
                    d="m143.601562 367.785156c1.546876-6.910156-25.027343 3.902344-30.171874 9.714844-1.78125 2.015625-3.1875 8.050781-3.902344 16.1875l59.589844 59.59375c8.5-9.394531-.132813-16.984375-13.71875-36.074219-16.945313-23.808593-11.796876-49.421875-11.796876-49.421875zm0 0"
                    fill="url(#i)" />
                <path
                    d="m141.949219 305.378906s26.472656 4.507813 55.550781 24.9375c29.078125 20.429688.574219 49.074219-81.046875 62.351563-81.625 13.277343-58.484375-38.550781-35.882813-60.089844 22.601563-21.535156 42.421876-32.441406 61.378907-27.199219zm0 0"
                    fill="url(#j)" />
                <path
                    d="m427.4375 512h-303.554688c-8.980468 0-16.386718-7.222656-16.40625-16.203125 0-.058594 0-.113281 0-.167969 0-22.339844 8.722657-42.636718 22.949219-57.679687 5.390625-5.507813 11.4375-10.371094 18.023438-14.453125 14.605469-9.058594 31.835937-14.296875 50.292969-14.296875 27.234374 0 51.792968 11.386719 69.195312 29.65625 4.355469 4.570312 10.835938 6.484375 16.9375 4.847656 4.105469-1.105469 8.429688-1.695313 12.890625-1.695313 14.09375 0 26.8125 5.894532 35.828125 15.34375 4.730469 4.972657 11.949219 6.675782 18.398438 4.335938 6.996093-2.539062 14.539062-3.933594 22.40625-3.933594 28 0 51.902343 17.550782 61.3125 42.234375 2.207031 5.800781-2.066407 12.011719-8.273438 12.011719zm0 0"
                    fill="url(#k)" />
                <path
                    d="m112.59375 150.644531c0 31.097657-25.21875 56.316407-56.316406 56.316407-19.261719 0-36.273438-9.679688-46.421875-24.4375 1.402343-2.769532 2.960937-5.582032 4.660156-8.433594 18.4375-30.871094 38.191406-56.785156 56.605469-77.785156 23.898437 6.519531 41.472656 28.378906 41.472656 54.339843zm0 0"
                    fill="url(#l)" />
                <path
                    d="m413.402344 223.027344c-20.75 9.953125-46.839844 19.359375-79.136719 27.898437-15.105469 4.003907-29.746094 7.597657-43.90625 10.808594-6.085937-10.027344-9.582031-21.804687-9.582031-34.382813 0-36.65625 29.71875-66.378906 66.378906-66.378906 35.21875 0 64.019531 27.410156 66.246094 62.054688zm0 0"
                    fill="url(#m)" />
                <path
                    d="m382.253906 36.25c-8.683594 19.921875-28.546875 33.855469-51.667968 33.855469-31.097657 0-56.316407-25.203125-56.316407-56.304688 0-3.351562.300781-6.648437.851563-9.847656 26.164062 4.433594 54.757812 12.484375 85.726562 23.480469 6.972656 2.480468 14.160156 5.429687 21.40625 8.816406zm0 0"
                    fill="#f2e9dc" />
                <path
                    d="m186.484375 223.546875c0 17.953125-14.550781 32.507813-32.503906 32.507813s-32.507813-14.554688-32.507813-32.507813 14.554688-32.507813 32.507813-32.507813 32.503906 14.554688 32.503906 32.507813zm0 0"
                    fill="url(#n)" />
                <g fill="#f2e9dc">
                    <path
                        d="m462.023438 119.222656c0 17.953125-14.554688 32.507813-32.507813 32.507813s-32.507813-14.554688-32.507813-32.507813 14.554688-32.507812 32.507813-32.507812 32.507813 14.554687 32.507813 32.507812zm0 0" />
                    <path
                        d="m226.988281 51.71875c0 17.953125-14.554687 32.507812-32.507812 32.507812s-32.507813-14.554687-32.507813-32.507812 14.554688-32.507812 32.507813-32.507812 32.507812 14.554687 32.507812 32.507812zm0 0" />
                    <path
                        d="m277.308594 142.828125c0 22.859375-18.527344 41.386719-41.386719 41.386719-22.855469 0-41.382813-18.527344-41.382813-41.386719 0-22.855469 18.527344-41.386719 41.382813-41.386719 22.859375 0 41.386719 18.53125 41.386719 41.386719zm0 0" />
                </g>
            </svg>
        </a>
        <div class="header-right">
            <a text="cart" href="/kordrar" class="logo">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 512 512">
                    <title>wheel-cart-glyph</title>
                    <path
                        d="M430.08,450.56a41,41,0,1,1-41-41A41,41,0,0,1,430.08,450.56Zm-204.8-41a41,41,0,1,0,41,41A41,41,0,0,0,225.28,409.6Zm-81.52-57.42a20.48,20.48,0,0,0,1,3.48c.2.52.49,1,.73,1.48s.51,1.15.84,1.68.72,1,1.08,1.48.62.92,1,1.33.76.73,1.13,1.1.87.91,1.36,1.31c.33.27.71.48,1.06.73a20.56,20.56,0,0,0,1.8,1.22c.34.19.71.32,1.06.49a20.37,20.37,0,0,0,2.08,1c.57.2,1.17.32,1.76.47s1.06.33,1.61.43a20.3,20.3,0,0,0,3.55.31H450.56a20.48,20.48,0,0,0,20.08-16.46l17.19-85.94H126.57Zm363.6-221.8a20.47,20.47,0,0,0-15.84-7.5H139.67L122.48,36.94A20.48,20.48,0,0,0,102.4,20.48H20.48a20.48,20.48,0,0,0,0,41H85.61l32.77,163.84H496l15.58-77.9A20.46,20.46,0,0,0,507.36,130.38Z" />
                </svg>
            </a>
            <a text="annonser" href="/annonser" class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                        d="M17 4V2.068a.5.5 0 0 1 .82-.385l4.12 3.433a.5.5 0 0 1-.321.884H2V4h15zM2 18h20v2H2v-2zm0-7h20v2H2v-2z"
                        fill="#000" />
                </svg>
            </a>
            <a text="profile" href="/" class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21">
                    <path
                        d="M22 6c0-3.212-2.788-6-6-6s-6 2.788-6 6 2.788 6 6 6 6-2.788 6-6zm-6 8c-5.256 0-10 5.67-10 12.716s20 7.046 20 0S21.256 14 16 14z" />
                </svg>

                <title>Abstract user icon</title>

                <defs>
                    <clipPath id="circular-border">
                        <circle cx="300" cy="300" r="280" />
                    </clipPath>
                    <clipPath id="avoid-antialiasing-bugs">
                        <rect width="100%" height="498" />
                    </clipPath>
                </defs>

                <circle cx="300" cy="300" r="280" fill="black" clip-path="url(#avoid-antialiasing-bugs)" />
                <circle cx="300" cy="230" r="115" />
                <circle cx="300" cy="550" r="205" clip-path="url(#circular-border)" />
                </svg>
            </a>
        </div>
    </div>
    {{{body}}}
</body>
</html>