<div class="login-block">
    <form action="/login" method="post">
        <label>username:</label>
        <input type="text" name="username" /><br />

        <label>password:</label>
        <input type="password" name="password" />
        <input type="submit" value="login" />
    </form>
</div>