<div>
    <form action="/sok" method="post">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Submit</button>
    </form>
    <div class="grid-container">
        {{#each data}}
        <div class="grid-item">
            <img src={{this.image}} width="400" height="400">
            <div class="grid-name ">
                <h4>
                    {{this.titel}}
                </h4>
            </div>
            <div class="grid-price ">
                <h4>
                    {{this.priceBTC}}
                </h4>
            </div>
        </div>
        {{/each}}
    </div>
</div>