<h1>
    ordrar:
</h1>
{{#each data}}
    <a href={{this.postadress}}>
        
        <h1>
            {{this.title}}
        </h1>
        <h1>
            seller:{{this.seller}}
        </h1>
        <h1>
            buyer:{{this.buyer}}
        </h1>
    </a>
    <br></br>
{{/each}}